<a href="https://colab.research.google.com/github/Anjali-evi/demo-repo/blob/main/ETL_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ETL

### ETL means EXTRACT , TRANSFORM and LOAD. It is a data integration process that combines data from multiple data sources into a single, consistent data store that is loaded into a data warehouse or other target system.

### Object outline: 
- We will initially scrape data from the website
- Next, we will transform the data: meaning clean the data 
- We will store that data in the database

### Tools used for this:
- For Extract step:
    - We use Programming language Python and BeautifulSoup the python library for pulling data out of HTML file. 
    - We will use pandas python library for cleaning the data and creating the input file for loading it to database
    - At last , we will use SQLite3 database to load the data created by above two steps

### Step 1. Extract the data from the website

#### Import request library for pull data from the website

In [ ]:
import requests
from bs4 import BeautifulSoup

In [ ]:
topic_url = 'https://www.estesparkweather.net/archive_reports.php?date=202005'
response = requests.get(topic_url)
response.status_code

200

In [ ]:
len(response.text)

117345

In [ ]:
page_contents = response.text

In [ ]:
page_contents[:300]

'<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">\n<html xmlns="http://www.w3.org/1999/xhtml">\n<!-- DW6 -->\n<head>\n<!-- Copyright 2005 Macromedia, Inc. All rights reserved. -->\n<meta http-equiv="Refresh" content="300" />\n<meta http-equiv="Pr'

#### Creating an HTML file for the website we requested

In [ ]:
with open('weather_page.html', 'w', encoding="utf-8") as f:
    f.write(page_contents)

In [ ]:
doc = BeautifulSoup(page_contents,'html.parser')

In [ ]:
len(doc)

16

## Assignment objective
As our final objective it to create a database holdimg a table

#### Search for the table in the html file :

In [ ]:
table_data = doc.find_all('table')

In [ ]:
# number of tables we have in our page
len(table_data)

40

In [ ]:
# first table in html : viewed
table_data[0]

<table border="0" cellpadding="3" cellspacing="0">
<tr class="table-top">
<td colspan="2">May 1 Average and Extremes</td>
</tr>
<tr class="column-light">
<td>Average temperature</td><td> 57.8�F</td>
</tr>
<tr class="column-dark">
<td>Average humidity</td><td> 45%</td>
</tr>
<tr class="column-light">
<td>Average dewpoint</td><td> 33.9�F</td>
</tr>
<tr class="column-dark">
<td>Average barometer</td><td> 29.6 in.</td>
</tr>
<tr class="column-light">
<td>Average windspeed</td><td> 5.2 mph</td>
</tr>
<tr class="column-dark">
<td>Average gustspeed</td><td> 8.0 mph</td>
</tr>
<tr class="column-light">
<td>Average direction</td><td> 238� (WSW)</td>
</tr>
<tr class="column-dark">
<td>Rainfall for month</td><td> 0.00 in.</td>
</tr>
<tr class="column-light">
<td>Rainfall for year</td><td> 2.40 in.</td>
</tr>
<tr class="column-dark">
<td>Maximum rain per minute</td><td> 0.00 in. on day 01 at time 00:00</td>
</tr>
<tr class="column-light">
<td>Maximum temperature</td><td> 71.8�F on day 01 at time 14:41</td>
</tr>
<tr class="column-dark">
<td>Minimum temperature</td><td> 41.5�F on day 01 at time 06:24</td>
</tr>
<tr class="column-light">
<td>Maximum humidity</td><td> 83% on day 01 at time 00:00</td>
</tr>
<tr class="column-dark">
<td>Minimum humidity</td><td> 19% on day 01 at time 14:07</td>
</tr>
<tr class="column-light">
<td>Maximum pressure</td><td> 29.724 in. on day 01 at time 22:22</td>
</tr>
<tr class="column-dark">
<td>Minimum pressure</td><td> 29.515 in. on day 01 at time 16:13</td>
</tr>
<tr class="column-light">
<td>Maximum windspeed</td><td> 18.4 mph on day 01 at time 21:02</td>
</tr>
<tr class="column-dark">
<td>Maximum gust speed</td><td> 29.9 mph  from 063 �(ENE) on day 01 at time 20:57</td>
</tr>
<tr class="column-light">
<td>Maximum heat index</td><td> 76.6�F on day 01 at time 15:57</td>
</tr>
</table>

In [ ]:
table_data[1]

<table border="0" cellpadding="3" cellspacing="0">
<tr class="table-top">
<td colspan="2">May 2 Average and Extremes</td>
</tr>
<tr class="column-dark">
<td>Average temperature</td><td> 47.1�F</td>
</tr>
<tr class="column-light">
<td>Average humidity</td><td> 83%</td>
</tr>
<tr class="column-dark">
<td>Average dewpoint</td><td> 42.0�F</td>
</tr>
<tr class="column-light">
<td>Average barometer</td><td> 29.7 in.</td>
</tr>
<tr class="column-dark">
<td>Average windspeed</td><td> 3.1 mph</td>
</tr>
<tr class="column-light">
<td>Average gustspeed</td><td> 5.0 mph</td>
</tr>
<tr class="column-dark">
<td>Average direction</td><td> 16� (NNE)</td>
</tr>
<tr class="column-light">
<td>Rainfall for month</td><td> 0.30 in.</td>
</tr>
<tr class="column-dark">
<td>Rainfall for year</td><td> 2.70 in.</td>
</tr>
<tr class="column-light">
<td>Maximum rain per minute</td><td> 0.02 in. on day 02 at time 16:44</td>
</tr>
<tr class="column-dark">
<td>Maximum temperature</td><td> 57.3�F on day 02 at time 11:47</td>
</tr>
<tr class="column-light">
<td>Minimum temperature</td><td> 39.9�F on day 02 at time 23:59</td>
</tr>
<tr class="column-dark">
<td>Maximum humidity</td><td> 95% on day 02 at time 17:10</td>
</tr>
<tr class="column-light">
<td>Minimum humidity</td><td> 60% on day 02 at time 11:48</td>
</tr>
<tr class="column-dark">
<td>Maximum pressure</td><td> 29.881 in. on day 02 at time 20:21</td>
</tr>
<tr class="column-light">
<td>Minimum pressure</td><td> 29.666 in. on day 02 at time 12:23</td>
</tr>
<tr class="column-dark">
<td>Maximum windspeed</td><td> 15.0 mph on day 02 at time 20:16</td>
</tr>
<tr class="column-light">
<td>Maximum gust speed</td><td> 19.6 mph  from 266 �( W ) on day 02 at time 20:18</td>
</tr>
<tr class="column-dark">
<td>Maximum heat index</td><td> 57.3�F on day 02 at time 11:47</td>
</tr>
</table>

In [ ]:
table_data[0].text

'\n\nMay 1 Average and Extremes\n\n\nAverage temperature 57.8�F\n\n\nAverage humidity 45%\n\n\nAverage dewpoint 33.9�F\n\n\nAverage barometer 29.6 in.\n\n\nAverage windspeed 5.2 mph\n\n\nAverage gustspeed 8.0 mph\n\n\nAverage direction 238� (WSW)\n\n\nRainfall for month 0.00 in.\n\n\nRainfall for year 2.40 in.\n\n\nMaximum rain per minute 0.00 in. on day 01 at time 00:00\n\n\nMaximum temperature 71.8�F on day 01 at time 14:41\n\n\nMinimum temperature 41.5�F on day 01 at time 06:24\n\n\nMaximum humidity 83% on day 01 at time 00:00\n\n\nMinimum humidity 19% on day 01 at time 14:07\n\n\nMaximum pressure 29.724 in. on day 01 at time 22:22\n\n\nMinimum pressure 29.515 in. on day 01 at time 16:13\n\n\nMaximum windspeed 18.4 mph on day 01 at time 21:02\n\n\nMaximum gust speed 29.9 mph  from 063 �(ENE) on day 01 at time 20:57\n\n\nMaximum heat index 76.6�F on day 01 at time 15:57\n\n'

In [ ]:
table_data[1].text

'\n\nMay 2 Average and Extremes\n\n\nAverage temperature 47.1�F\n\n\nAverage humidity 83%\n\n\nAverage dewpoint 42.0�F\n\n\nAverage barometer 29.7 in.\n\n\nAverage windspeed 3.1 mph\n\n\nAverage gustspeed 5.0 mph\n\n\nAverage direction 16� (NNE)\n\n\nRainfall for month 0.30 in.\n\n\nRainfall for year 2.70 in.\n\n\nMaximum rain per minute 0.02 in. on day 02 at time 16:44\n\n\nMaximum temperature 57.3�F on day 02 at time 11:47\n\n\nMinimum temperature 39.9�F on day 02 at time 23:59\n\n\nMaximum humidity 95% on day 02 at time 17:10\n\n\nMinimum humidity 60% on day 02 at time 11:48\n\n\nMaximum pressure 29.881 in. on day 02 at time 20:21\n\n\nMinimum pressure 29.666 in. on day 02 at time 12:23\n\n\nMaximum windspeed 15.0 mph on day 02 at time 20:16\n\n\nMaximum gust speed 19.6 mph  from 266 �( W ) on day 02 at time 20:18\n\n\nMaximum heat index 57.3�F on day 02 at time 11:47\n\n'

#### Since the text of the table is what we want, which is right now not somethong we can understand, so lets clean the text a bit:

In [ ]:
table_data[0].text.splitlines()

['',
 '',
 'May 1 Average and Extremes',
 '',
 '',
 'Average temperature 57.8�F',
 '',
 '',
 'Average humidity 45%',
 '',
 '',
 'Average dewpoint 33.9�F',
 '',
 '',
 'Average barometer 29.6 in.',
 '',
 '',
 'Average windspeed 5.2 mph',
 '',
 '',
 'Average gustspeed 8.0 mph',
 '',
 '',
 'Average direction 238� (WSW)',
 '',
 '',
 'Rainfall for month 0.00 in.',
 '',
 '',
 'Rainfall for year 2.40 in.',
 '',
 '',
 'Maximum rain per minute 0.00 in. on day 01 at time 00:00',
 '',
 '',
 'Maximum temperature 71.8�F on day 01 at time 14:41',
 '',
 '',
 'Minimum temperature 41.5�F on day 01 at time 06:24',
 '',
 '',
 'Maximum humidity 83% on day 01 at time 00:00',
 '',
 '',
 'Minimum humidity 19% on day 01 at time 14:07',
 '',
 '',
 'Maximum pressure 29.724 in. on day 01 at time 22:22',
 '',
 '',
 'Minimum pressure 29.515 in. on day 01 at time 16:13',
 '',
 '',
 'Maximum windspeed 18.4 mph on day 01 at time 21:02',
 '',
 '',
 'Maximum gust speed 29.9 mph  from 063 �(ENE) on day 01 at time 20:57',
 '',
 '',
 'Maximum heat index 76.6�F on day 01 at time 15:57',
 '']

In [ ]:
list(filter(None , table_data[0].text.splitlines()))

['May 1 Average and Extremes',
 'Average temperature 57.8�F',
 'Average humidity 45%',
 'Average dewpoint 33.9�F',
 'Average barometer 29.6 in.',
 'Average windspeed 5.2 mph',
 'Average gustspeed 8.0 mph',
 'Average direction 238� (WSW)',
 'Rainfall for month 0.00 in.',
 'Rainfall for year 2.40 in.',
 'Maximum rain per minute 0.00 in. on day 01 at time 00:00',
 'Maximum temperature 71.8�F on day 01 at time 14:41',
 'Minimum temperature 41.5�F on day 01 at time 06:24',
 'Maximum humidity 83% on day 01 at time 00:00',
 'Minimum humidity 19% on day 01 at time 14:07',
 'Maximum pressure 29.724 in. on day 01 at time 22:22',
 'Minimum pressure 29.515 in. on day 01 at time 16:13',
 'Maximum windspeed 18.4 mph on day 01 at time 21:02',
 'Maximum gust speed 29.9 mph  from 063 �(ENE) on day 01 at time 20:57',
 'Maximum heat index 76.6�F on day 01 at time 15:57']

In [ ]:
# defining a list to grab the text from all the tables in table_data
data_list = []

for data in table_data[:31]:
    value = list(filter(None, data.text.splitlines()))
    
    data_list.append(value)

In [ ]:
data_list[0]

['May 1 Average and Extremes',
 'Average temperature 57.8�F',
 'Average humidity 45%',
 'Average dewpoint 33.9�F',
 'Average barometer 29.6 in.',
 'Average windspeed 5.2 mph',
 'Average gustspeed 8.0 mph',
 'Average direction 238� (WSW)',
 'Rainfall for month 0.00 in.',
 'Rainfall for year 2.40 in.',
 'Maximum rain per minute 0.00 in. on day 01 at time 00:00',
 'Maximum temperature 71.8�F on day 01 at time 14:41',
 'Minimum temperature 41.5�F on day 01 at time 06:24',
 'Maximum humidity 83% on day 01 at time 00:00',
 'Minimum humidity 19% on day 01 at time 14:07',
 'Maximum pressure 29.724 in. on day 01 at time 22:22',
 'Minimum pressure 29.515 in. on day 01 at time 16:13',
 'Maximum windspeed 18.4 mph on day 01 at time 21:02',
 'Maximum gust speed 29.9 mph  from 063 �(ENE) on day 01 at time 20:57',
 'Maximum heat index 76.6�F on day 01 at time 15:57']

In [ ]:
data_list[1]

['May 2 Average and Extremes',
 'Average temperature 47.1�F',
 'Average humidity 83%',
 'Average dewpoint 42.0�F',
 'Average barometer 29.7 in.',
 'Average windspeed 3.1 mph',
 'Average gustspeed 5.0 mph',
 'Average direction 16� (NNE)',
 'Rainfall for month 0.30 in.',
 'Rainfall for year 2.70 in.',
 'Maximum rain per minute 0.02 in. on day 02 at time 16:44',
 'Maximum temperature 57.3�F on day 02 at time 11:47',
 'Minimum temperature 39.9�F on day 02 at time 23:59',
 'Maximum humidity 95% on day 02 at time 17:10',
 'Minimum humidity 60% on day 02 at time 11:48',
 'Maximum pressure 29.881 in. on day 02 at time 20:21',
 'Minimum pressure 29.666 in. on day 02 at time 12:23',
 'Maximum windspeed 15.0 mph on day 02 at time 20:16',
 'Maximum gust speed 19.6 mph  from 266 �( W ) on day 02 at time 20:18',
 'Maximum heat index 57.3�F on day 02 at time 11:47']

In [ ]:
type(data_list)

list

In [ ]:
data_list[23]

['May 24 Average and Extremes',
 'Average temperature 40.7�F',
 'Average humidity 79%',
 'Average dewpoint 34.3�F',
 'Average barometer 29.7 in.',
 'Average windspeed 2.3 mph',
 'Average gustspeed 3.8 mph',
 'Average direction 268� ( W )',
 'Rainfall for month 0.90 in.',
 'Rainfall for year 3.30 in.',
 'Maximum rain per minute 0.01 in. on day 24 at time 15:46',
 'Maximum temperature 50.4�F on day 24 at time 00:02',
 'Minimum temperature 35.7�F on day 24 at time 22:49',
 'Maximum humidity 94% on day 24 at time 23:59',
 'Minimum humidity 44% on day 24 at time 00:14',
 'Maximum pressure 29.927 in. on day 24 at time 23:48',
 'Minimum pressure 29.549 in. on day 24 at time 00:05',
 'Maximum windspeed 15.0 mph on day 24 at time 09:16',
 'Maximum gust speed 20.7 mph  from 237 �(WSW) on day 24 at time 19:15',
 'Maximum heat index 50.4�F on day 24 at time 00:02']

#### Getting the necessary items from the list:

In [ ]:
data_list[0][10].split()[:6]

['Maximum', 'rain', 'per', 'minute', '0.00', 'in.']

In [ ]:
data_list[0][10].split()[:5]

['Maximum', 'rain', 'per', 'minute', '0.00']

#### Using re (regular expression) operation to grab the integer from the list:

In [ ]:
import re
re.findall("\d+" , str(data_list[0][10].split()[:5]))

['0', '00']

#### .join method to join the integer("\d+")

In [ ]:
'.'.join(re.findall("\d+" , str(data_list[0][10].split()[:5])))

'0.00'

In [ ]:
'.'.join(re.findall("\d+" , str(data_list[0][11].split()[:5])))

'71.8'

In [ ]:
'.'.join(re.findall("\d+" , str(data_list[0][3].split()[:5])))

'33.9'

#### Getting list of all the numeric temperature values :

In [ ]:
temp_value_list = []

for tempVal in data_list:
    
    numeric_values = []
    
    for values in tempVal[1:]:
        d = '.'.join(re.findall("\d+" , str(values.split()[:5])))
        
        numeric_values.append(d)
    
    temp_value_list.append(numeric_values)

In [ ]:
temp_value_list[0]

['57.8',
 '45',
 '33.9',
 '29.6',
 '5.2',
 '8.0',
 '238',
 '0.00',
 '2.40',
 '0.00',
 '71.8',
 '41.5',
 '83',
 '19',
 '29.724',
 '29.515',
 '18.4',
 '29.9',
 '76.6']

#### Submitting all list in one dataframe:

In [ ]:
import pandas as pd
columns = ['Average temperature',
           'Average humidity',
           'Average dewpoint',
           'Average barometer',
           'Average windspeed',
          'Average gustspeed',
          'Average direction',
          'Rainfall for month',
          'Rainfall for year',
          'Maximum rain per minute',
          'Maximum temperature',
          'Minimum temperature',
          'Maximum humidity',
          'Minimum humidity',
          'Maximum pressure',
           'Minimum pressure',
          'Maximum windspeed',
          'Maximum gust speed',
          'Maximum heat index']

In [ ]:
weather_data = pd.DataFrame(temp_value_list, columns = columns)

In [ ]:
weather_data.head()

,Average temperature,Average humidity,Average dewpoint,Average barometer,Average windspeed,Average gustspeed,Average direction,Rainfall for month,Rainfall for year,Maximum rain per minute,Maximum temperature,Minimum temperature,Maximum humidity,Minimum humidity,Maximum pressure,Minimum pressure,Maximum windspeed,Maximum gust speed,Maximum heat index
0,57.8,45,33.9,29.6,5.2,8.0,238,0.00,2.40,0.00,71.8,41.5,83,19,29.724,29.515,18.4,29.9,76.6
1,47.1,83,42.0,29.7,3.1,5.0,16,0.30,2.70,0.02,57.3,39.9,95,60,29.881,29.666,15.0,19.6,57.3
2,51.6,59,36.4,29.7,4.9,7.5,244,0.33,2.73,0.01,65.4,36.1,93,29,29.876,29.620,19.6,26.5,65.4
3,45.1,58,28.9,29.8,7.6,11.8,248,0.37,2.77,0.01,52.2,38.5,94,28,30.024,29.604,25.3,36.8,52.2
4,48.7,24,12.2,30.0,6.3,9.7,241,0.37,2.77,0.00,62.3,37.9,50,12,30.128,29.942,18.4,26.5,62.3

#### Creating a column in adtaframe "Date":

In [ ]:
weather_data['Date'] = pd.date_range('2020-05-01' , '2020-05-31')

In [ ]:
weather_data.head()

,Average temperature,Average humidity,Average dewpoint,Average barometer,Average windspeed,Average gustspeed,Average direction,Rainfall for month,Rainfall for year,Maximum rain per minute,Maximum temperature,Minimum temperature,Maximum humidity,Minimum humidity,Maximum pressure,Minimum pressure,Maximum windspeed,Maximum gust speed,Maximum heat index,Date
0,57.8,45,33.9,29.6,5.2,8.0,238,0.00,2.40,0.00,71.8,41.5,83,19,29.724,29.515,18.4,29.9,76.6,2020-05-01
1,47.1,83,42.0,29.7,3.1,5.0,16,0.30,2.70,0.02,57.3,39.9,95,60,29.881,29.666,15.0,19.6,57.3,2020-05-02
2,51.6,59,36.4,29.7,4.9,7.5,244,0.33,2.73,0.01,65.4,36.1,93,29,29.876,29.620,19.6,26.5,65.4,2020-05-03
3,45.1,58,28.9,29.8,7.6,11.8,248,0.37,2.77,0.01,52.2,38.5,94,28,30.024,29.604,25.3,36.8,52.2,2020-05-04
4,48.7,24,12.2,30.0,6.3,9.7,241,0.37,2.77,0.00,62.3,37.9,50,12,30.128,29.942,18.4,26.5,62.3,2020-05-05

In [ ]:
weather_data[columns] = weather_data[columns].apply(pd.to_numeric)

#### Replacing the name of the columns from Higher level to lower level , as we have to store it to the database

In [ ]:
weather_data.rename(columns = lambda x : x.replace(' ', "_").lower(), inplace = True)
weather_data.keys()

Index(['average_temperature', 'average_humidity', 'average_dewpoint',
       'average_barometer', 'average_windspeed', 'average_gustspeed',
       'average_direction', 'rainfall_for_month', 'rainfall_for_year',
       'maximum_rain_per_minute', 'maximum_temperature', 'minimum_temperature',
       'maximum_humidity', 'minimum_humidity', 'maximum_pressure',
       'minimum_pressure', 'maximum_windspeed', 'maximum_gust_speed',
       'maximum_heat_index', 'date'],
      dtype='object')

In [ ]:
# hummudity is in percentage
humidity_cols = ['average_humidity', 'maximum_humidity','minimum_humidity']
weather_data[humidity_cols] = weather_data[humidity_cols].apply(lambda x: x/100)

In [ ]:
weather_data.head()

,average_temperature,average_humidity,average_dewpoint,average_barometer,average_windspeed,average_gustspeed,average_direction,rainfall_for_month,rainfall_for_year,maximum_rain_per_minute,maximum_temperature,minimum_temperature,maximum_humidity,minimum_humidity,maximum_pressure,minimum_pressure,maximum_windspeed,maximum_gust_speed,maximum_heat_index,date
0,57.8,0.45,33.9,29.6,5.2,8.0,238,0.00,2.40,0.00,71.8,41.5,0.83,0.19,29.724,29.515,18.4,29.9,76.6,2020-05-01
1,47.1,0.83,42.0,29.7,3.1,5.0,16,0.30,2.70,0.02,57.3,39.9,0.95,0.60,29.881,29.666,15.0,19.6,57.3,2020-05-02
2,51.6,0.59,36.4,29.7,4.9,7.5,244,0.33,2.73,0.01,65.4,36.1,0.93,0.29,29.876,29.620,19.6,26.5,65.4,2020-05-03
3,45.1,0.58,28.9,29.8,7.6,11.8,248,0.37,2.77,0.01,52.2,38.5,0.94,0.28,30.024,29.604,25.3,36.8,52.2,2020-05-04
4,48.7,0.24,12.2,30.0,6.3,9.7,241,0.37,2.77,0.00,62.3,37.9,0.50,0.12,30.128,29.942,18.4,26.5,62.3,2020-05-05

#### Converting dataframe to csv file:

In [ ]:
weather_data.to_csv('weather_data.csv' , index = False)

#### Importing SQLite3 database and Creating the connection

In [ ]:
import sqlite3
conn = sqlite3.connect('weather_data.db')
print('Database connection opened')

Database connection opened

In [ ]:
conn

In [ ]:
# conn.execute('drop table Weather')

#### Creating the table Weather :

In [ ]:
try:
    conn.execute('''
        CREATE TABLE Weather
        (
        average_temperature Float DEFAULT 0,
        average_humidity Float DEFAULT 0,
        average_dewpoint Float DEFAULT 0,
        average_barometer Float DEFAULT 0,
        average_windspeed Float DEFAULT 0,
        average_gustspeed Float DEFAULT 0,
        average_direction Float DEFAULT 0,
        rainfall_for_month Float DEFAULT 0,
        rainfall_for_year Float DEFAULT 0,
        maximum_rain_per_minute FLOAT DEFAULT 0, 
        maximum_temperature Float DEFAULT 0,
        minimum_temperature Float DEFAULT 0,
        maximum_humidity Float DEFAULT 0,
        minimum_humidity Float DEFAULT 0,
        maximum_pressure Float DEFAULT 0,
        minimum_pressure Float DEFAULT 0,
        maximum_windspeed Float DEFAULT 0,
        maximum_gust_speed Float DEFAULT 0,
        maximum_heat_index Float DEFAULT 0,
        date timespamp); 
        ''')
    print('Weather table has been created')
    
    conn.commit()
    
except Exception as e:
    print(str(e))
    print('Table Creation Failed')
    
finally: 
    conn.close()

Weather table has been created

In [ ]:
# get values of pandasDataFrame to list of list
weather_data_list = weather_data.astype('str').values.tolist()

In [ ]:
conn = sqlite3.connect('weather_data.db')
cur = conn.cursor()

#### Inserting values to the table:

In [ ]:
# insert values to database
try: 
    cur.executemany(''' INSERT INTO Weather 
                        (average_temperature, 
                        average_humidity, 
                        average_dewpoint,\
                        average_barometer,
                        average_windspeed, 
                        average_gustspeed, 
                        average_direction,\
                        rainfall_for_month, 
                        rainfall_for_year, 
                        maximum_rain_per_minute, 
                        maximum_temperature,\
                        minimum_temperature,
                        maximum_humidity, 
                        minimum_humidity, 
                        maximum_pressure, 
                        minimum_pressure, \
                        maximum_windspeed, 
                        maximum_gust_speed,  
                        maximum_heat_index,
                        date) 
                    VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)''',weather_data_list)
    conn.commit()

    print('Weather data inserted successfully')
    
except Exception as e:
    
    print(str(e))
    print("Weather data insertion failed")

Weather data inserted successfully

#### Writing queries to grab info from the database :

#### Max Windspeed bwteen the dates 3rd May to 6th may :

In [ ]:
for row in cur.execute('select maximum_windspeed from Weather where Date between "2020-05-03" and "2020-05-06" '):
  print(row)

(19.6,)
(25.3,)
(18.4,)
(11.5,)

#### The max average_temperature with date :

In [ ]:
for row in cur.execute('select Date, max(average_temperature) from Weather'):
  print(row)

('2020-05-29', 63.1)

#### Here is the displayed image of the SQLite3 database using DB Browser for Sqlite3

In [ ]:
![picture](https://drive.google.com/file/d/1rEUr2mAxORVy6jSUNRaSZ_L9mvByKkIe/view?usp=sharing)

/bin/bash: -c: line 0: syntax error near unexpected token `https://drive.google.com/file/d/1rEUr2mAxORVy6jSUNRaSZ_L9mvByKkIe/view?usp=sharing'
/bin/bash: -c: line 0: `[picture](https://drive.google.com/file/d/1rEUr2mAxORVy6jSUNRaSZ_L9mvByKkIe/view?usp=sharing)'